<VirtualHost *:8036>
    ServerName site1.local
    DocumentRoot /var/www/html/site1

    <Directory /var/www/html/site1>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
